img {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid gray
}

.img-main {
  align-items: center;
  height: 100vh; 

}

.img-loader-button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;

}

.img-loader-button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}


.input[type=file] {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.img-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.img-result {
margin-left: 20px;
margin-top: 30px;
background: burlywood;
padding: 10px;
line-height: 1.3;
}

.img-spinner {
  margin-left: 40px;
  margin-top: 30px;
  padding: 10px;
  line-height: 1.3;

}